.logo-img {
    width: 4rem;
}

.hero-section {
    background: url('./assets/my_bg.png') no-repeat right bottom;
    background-size: contain;
    height: 300px;
}

.portfolio-section {
    margin-top: 500px;
}

.section-title {
    margin-bottom: 50px;
    font-weight: 700;
}

.carousel-item img {
    width: fit-content;
    height: 140px;
    object-fit: cover;
}

.contact-box {
    width: 75%;
}

footer {
    min-height: 200px;
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    .hero-section {
        height: 400px;
    }

    .portfolio-section {
        padding-top: 75px;
    }

    .carousel-item img {
        height: 300px;
        object-fit: cover;
    }

    .contact-box {
        width: 50%;
    }

    footer {
        min-height: 400px;
    }
}