.logo-img {
    width: 4rem;
}

.hero-section {
    background: url('./assets/my_bg.png') no-repeat right bottom;
    background-size: contain;
    height: 300px;
}

@media (min-width: 768px) {
    .hero-section {
        height: 400px;
    }
}